body {
 color: #5c5c5c;                             /* fgReg */
 background: #4f6067;                        /* bg0 */
 font-family: Trebuchet MS, Helvetica, sans-serif;
 /*font-family: Helvetica, sans-serif;*/
 font-size: 10pt;
}


h1 {
 font-color: #232323;                        /* fgBold */
 font-size: 200%;
 margin: 0em;
}

h2 {
 font-color: #232323;                        /* fgBold */
 font-size: 125%;
 margin-bottom: 0em
}

h3 {
 font-color: #232323;                        /* fgBold */
 font-weight: bold;
 font-size: 100%;
 margin: 0em
}

A:link {
  color: #313b3f;                            /* link */
}

A:visited {
  color: #000000;                            /* linkVisited */
}
